/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* Color scheme based on EmailEngine logo blue (#4B4B9F) */
:root {
  --ifm-color-primary: #4B4B9F;
  --ifm-color-primary-dark: #43438F;
  --ifm-color-primary-darker: #3F3F87;
  --ifm-color-primary-darkest: #34346F;
  --ifm-color-primary-light: #5858AC;
  --ifm-color-primary-lighter: #6262B3;
  --ifm-color-primary-lightest: #7A7AC4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7A7AC4;
  --ifm-color-primary-dark: #6565B8;
  --ifm-color-primary-darker: #5A5AB2;
  --ifm-color-primary-darkest: #4B4B9F;
  --ifm-color-primary-light: #8F8FD0;
  --ifm-color-primary-lighter: #9A9AD6;
  --ifm-color-primary-lightest: #B5B5E3;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
